<html lang='es'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Verifica tu correo</title>
		<style>
			/* Estilos básicos para correos */ body { margin: 0; padding: 0; background-color: #f9f9f9;
			font-family: Arial, sans-serif; } table { border-spacing: 0; border-collapse: collapse; } a {
			text-decoration: none; }
		</style>
	</head>

	<body style='margin: 0; padding: 0; background-color: #f9f9f9; font-family: Arial, sans-serif;'>
		<table
			width='100%'
			height='100%'
			cellpadding='0'
			cellspacing='0'
			border='0'
			style='background-color: #f9f9f9;'
		>
			<tr>
				<td align='center' style='padding: 20px;'>
					<table
						width='600'
						cellpadding='0'
						cellspacing='0'
						border='0'
						style='background-color: #ffffff; border: 1px solid #ddd;'
					>
						<tr>
							<td
								align='center'
								style='padding: 20px; font-size: 24px; font-weight: bold; color: #333;'
							>
								¡Bienvenido a nuestro sistema!
							</td>
						</tr>
						<tr>
							<td style='padding: 20px; font-size: 16px; color: #666;'>
								Hola
								{{username}},
								haz sido invitado a unirte a nuestro sistema, ingresa con las siguientes
								credenciales:
								<p>
									<strong>Usuario:</strong>
									{{email}}
								</p>
								<p>
									<strong>Contraseña:</strong>
									{{password}}
								</p>
							</td>
						</tr>

						<tr>
							<td align='center' style='padding: 20px;'>
								<a
									href='{{url}}'
									style='background-color: #007BFF; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 16px; border-radius: 5px;'
								>
									Ingresar
								</a>
							</td>
						</tr>
						<tr>
							<td style='padding: 20px; font-size: 14px; color: #999;'>
								Si no solicitaste este correo, ignóralo. Gracias por usar nuestra app.
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>

</html>