{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 110,
  "endOfLine": "auto",
  "semi": false,
  "useTabs": true,
  "tabWidth": 4,
  "plugins": [
    "./node_modules/prettier-plugin-packagejson/lib/index.js",
    "./node_modules/prettier-plugin-organize-imports/index.js"
  ]
}