.container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 960px) {
    .container {
        justify-content: space-between;
    }
}
